Repository AstroAir/mermaid-render, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mermaid-render/core-team, @mermaid-render/core-maintainers, @mermaid-render/diagram-experts, @mermaid-render/rendering-experts, @mermaid-render/ai-team, @mermaid-render/interactive-team, @mermaid-render/qa-team, @mermaid-render/docs-team, @mermaid-render/devops-team

.github/CODEOWNERS:

# This file defines who should review which parts of the codebase
# For more info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
* @mermaid-render/core-team

# Core modules
/mermaid_render/core.py @mermaid-render/core-maintainers
/mermaid_render/exceptions.py @mermaid-render/core-maintainers

# Diagram models
/mermaid_render/models/ @mermaid-render/diagram-experts

# Renderers
/mermaid_render/renderers/ @mermaid-render/rendering-experts

# Configuration
/mermaid_render/config/ @mermaid-render/core-maintainers

# AI features
/mermaid_render/ai/ @mermaid-render/ai-team

# Interactive features
/mermaid_render/interactive/ @mermaid-render/interactive-team

# Tests
/tests/ @mermaid-render/qa-team

# Documentation
/docs/ @mermaid-render/docs-team

# Examples
/examples/ @mermaid-render/docs-team

# CI/CD
/.github/workflows/ @mermaid-render/devops-team

Add comprehensive unit tests for AI features, caching, diagram types, and templates
  mermaid_render/renderers/pdf_renderer.py
  tests/browser_compatibility/test_cross_browser_compatibility.py
  tests/conftest.py
  tests/error_handling/test_error_handling.py
  tests/error_handling/test_error_handling_simple.py
  tests/export/test_export_enhancements.py
  tests/integration/test_comprehensive_simple.py
  tests/integration/test_end_to_end_workflows.py
  tests/performance/test_performance.py
  tests/regression/test_regression.py
  tests/remote/test_remote_rendering.py
  tests/run_comprehensive_tests.py
  tests/svg/test_comprehensive_svg_rendering.py
  tests/svg/test_minimal_svg.py
  tests/svg/test_svg_renderer.py
  tests/svg/test_svg_rendering.py
  tests/svg/test_svg_validation.py
  tests/theme/test_theme_support.py
  tests/unit/test_ai.py
  tests/unit/test_ai_features_comprehensive.py
  tests/unit/test_cache.py
  tests/unit/test_cache_comprehensive.py
  tests/unit/test_collaboration.py
  tests/unit/test_diagram_types_comprehensive.py
  tests/unit/test_enhanced_ai.py
  tests/unit/test_exceptions.py
  tests/unit/test_renderers.py
  tests/unit/test_templates.py
  tests/unit/test_templates_comprehensive.py
Owners: @mermaid-render/rendering-experts, @mermaid-render/qa-team

Enhance error handling and validation in Mermaid Render library
  docs/API.md
  docs/ENHANCED_AI_README.md
  docs/ai_module_enhancement.md
  docs/api/index.md
  docs/architecture.md
  docs/examples/index.md
  docs/guides/index.md
  examples/advanced_usage.py
  examples/ai_features_showcase.py
  examples/basic_usage.py
  examples/diagram_types_showcase.py
  examples/enhanced_ai_features.py
  examples/integration_examples.py
  examples/interactive_collaboration_showcase.py
  examples/run_all_examples.py
  mermaid_render/__init__.py
  mermaid_render/core.py
  mermaid_render/exceptions.py
  mermaid_render/models/__init__.py
  mermaid_render/models/timeline.py
  mermaid_render/renderers/pdf_renderer.py
  mermaid_render/renderers/svg_renderer.py
  mermaid_render/validators/validator.py
  tests/svg/test_svg_fixes.py
Owners: @mermaid-render/docs-team, @mermaid-render/core-team, @mermaid-render/core-maintainers, @mermaid-render/diagram-experts, @mermaid-render/rendering-experts, @mermaid-render/qa-team

Refactor diagram generation methods and enhance testing
  browser_test_svgs/COMPATIBILITY_GUIDE.md
  browser_test_svgs/browser_test.html
  demo.py
  examples/interactive_collaboration_showcase.py
  examples/template_system_showcase.py
  examples/testing_validation_showcase.py
  mermaid_render/models/class_diagram.py
  mermaid_render/models/er_diagram.py
  mermaid_render/models/flowchart.py
  mermaid_render/models/gantt.py
  mermaid_render/models/git_graph.py
  mermaid_render/models/mindmap.py
  mermaid_render/models/pie_chart.py
  mermaid_render/models/sequence.py
  mermaid_render/models/state.py
  mermaid_render/models/user_journey.py
Owners: @mermaid-render/core-team, @mermaid-render/docs-team, @mermaid-render/diagram-experts

Refactor validator loop formatting and update Python version in pyproject.toml
  mermaid_render/__init__.py
  mermaid_render/ai/diagram_generator.py
  mermaid_render/ai/providers.py
  mermaid_render/ai/suggestions.py
  mermaid_render/ai/utils.py
  mermaid_render/cli.py
  mermaid_render/collaboration/comments.py
  mermaid_render/config/config_manager.py
  mermaid_render/core.py
  mermaid_render/exceptions.py
  mermaid_render/interactive/validation.py
  mermaid_render/models/flowchart.py
  mermaid_render/models/sequence.py
  mermaid_render/models/timeline.py
  mermaid_render/renderers/pdf_renderer.py
  mermaid_render/renderers/png_renderer.py
  mermaid_render/renderers/svg_renderer.py
  mermaid_render/validators/validator.py
  pyproject.toml
Owners: @mermaid-render/core-team, @mermaid-render/ai-team, @mermaid-render/core-maintainers, @mermaid-render/interactive-team, @mermaid-render/diagram-experts, @mermaid-render/rendering-experts

Add comprehensive documentation for Mermaid Render
  docs/ai_module_enhancement.md
  docs/api-reference/index.md
  docs/architecture.md
  docs/development/contributing.md
  docs/development/index.md
  docs/examples/index.md
  docs/gen_ref_pages.py
  docs/getting-started/basic-usage.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/guides/quick-start.md
  docs/index.md
  docs/user-guide/diagram-types.md
  docs/user-guide/index.md
  docs/user-guide/rendering.md
  mermaid_render/__init__.py
  mermaid_render/models/flowchart.py
  mermaid_render/models/sequence.py
  mkdocs.yml
  pyproject.toml
  uv.lock
Owners: @mermaid-render/docs-team, @mermaid-render/core-team, @mermaid-render/diagram-experts

feat: implement plugin-based renderer architecture foundation
  mermaid_render/__init__.py
  mermaid_render/core.py
  mermaid_render/enhanced_renderer.py
  mermaid_render/renderers/__init__.py
  mermaid_render/renderers/base.py
  mermaid_render/renderers/graphviz_renderer.py
  mermaid_render/renderers/manager.py
  mermaid_render/renderers/nodejs_renderer.py
  mermaid_render/renderers/pdf_renderer_plugin.py
  mermaid_render/renderers/playwright_renderer.py
  mermaid_render/renderers/png_renderer_plugin.py
  mermaid_render/renderers/registry.py
  mermaid_render/renderers/svg_renderer_plugin.py
  pyproject.toml
  tests/unit/test_enhanced_renderer.py
  tests/unit/test_new_renderers.py
  tests/unit/test_plugin_architecture.py
Owners: @mermaid-render/core-team, @mermaid-render/core-maintainers, @mermaid-render/rendering-experts, @mermaid-render/qa-team

feat: complete plugin-based renderer architecture with enhanced features
  README.md
  mermaid_render/enhanced_renderer.py
  mermaid_render/renderers/README.md
  mermaid_render/renderers/__init__.py
  mermaid_render/renderers/config_manager.py
  mermaid_render/renderers/error_handler.py
  mermaid_render/renderers/logging_config.py
  mermaid_render/renderers/manager.py
  mermaid_render/renderers/playwright_renderer.py
  mermaid_render/renderers/png_renderer_plugin.py
  mermaid_render/renderers/validation.py
  tests/integration/test_plugin_system_integration.py
Owners: @mermaid-render/core-team, @mermaid-render/rendering-experts, @mermaid-render/qa-team

Save current work before refactoring - plugin architecture enhancements
  PLUGIN_ARCHITECTURE_SUMMARY.md
  examples/performance_caching_showcase.py
  examples/testing_validation_showcase.py
  mermaid_render/__init__.py
  mermaid_render/renderers/README.md
  mermaid_render/renderers/base.py
  mermaid_render/renderers/config_manager.py
  mermaid_render/renderers/error_handler.py
  mermaid_render/renderers/graphviz_renderer.py
  mermaid_render/renderers/logging_config.py
  mermaid_render/renderers/manager.py
  mermaid_render/renderers/nodejs_renderer.py
  mermaid_render/renderers/pdf_renderer.py
  mermaid_render/renderers/pdf_renderer_plugin.py
  mermaid_render/renderers/playwright_renderer.py
  mermaid_render/renderers/png_renderer_plugin.py
  mermaid_render/renderers/registry.py
  mermaid_render/renderers/svg_renderer.py
  mermaid_render/renderers/svg_renderer_plugin.py
  mermaid_render/renderers/validation.py
  scripts/dev.py
  scripts/qa-check.py
  scripts/validate-package.py
  tests/run_comprehensive_tests.py
  tests/theme/test_theme_support.py
  tests/unit/test_exceptions.py
  tests/unit/test_renderers.py
Owners: @mermaid-render/core-team, @mermaid-render/docs-team, @mermaid-render/rendering-experts, @mermaid-render/qa-team

Add README files to modules and improve validation efficiency
  mermaid_render/ai/README.md
  mermaid_render/collaboration/README.md
  mermaid_render/config/README.md
  mermaid_render/convenience.py
  mermaid_render/core.py
  mermaid_render/interactive/README.md
  mermaid_render/models/README.md
  mermaid_render/templates/README.md
  mermaid_render/utils/README.md
  mermaid_render/utils/validation.py
  mermaid_render/validators/README.md
Owners: @mermaid-render/ai-team, @mermaid-render/core-team, @mermaid-render/core-maintainers, @mermaid-render/interactive-team, @mermaid-render/diagram-experts

Complete architecture refactoring and code quality improvements
  README.md
  mermaid_render/__init__.py
  mermaid_render/convenience.py
Owners: @mermaid-render/core-team

Add comprehensive migration guide for architecture refactoring
  MIGRATION_GUIDE.md
Owners: @mermaid-render/core-team

Add comprehensive refactoring summary documentation
  REFACTORING_SUMMARY.md
Owners: @mermaid-render/core-team

Remove outdated documentation files and enhance README files across all modules for improved clarity and organization
  PLUGIN_ARCHITECTURE_SUMMARY.md
  REFACTORING_SUMMARY.md
  mermaid_render/ai/README.md
  mermaid_render/collaboration/README.md
  mermaid_render/config/README.md
  mermaid_render/interactive/README.md
  mermaid_render/models/README.md
  mermaid_render/templates/README.md
  mermaid_render/templates/data_sources.py
  mermaid_render/templates/template_manager.py
  mermaid_render/templates/utils.py
  mermaid_render/utils/README.md
  mermaid_render/validators/README.md
Owners: @mermaid-render/core-team, @mermaid-render/ai-team, @mermaid-render/core-maintainers, @mermaid-render/interactive-team, @mermaid-render/diagram-experts

chore: remove unused configuration files and demo script
  .codeclimate.yml
  .cz.toml
  GEMINI.md
  demo.py
  mermaid_render/_version.py
  mermaid_render/mcp/__init__.py
  mermaid_render/mcp/prompts.py
  mermaid_render/mcp/resources.py
  mermaid_render/mcp/tools.py
  pyproject.toml
  run_mcp_tests.py
  uv.lock
Owners: @mermaid-render/core-team

chore: remove outdated API and development documentation files
  docs/DEVELOPMENT.md
  docs/ENHANCED_AI_README.md
  docs/api/index.md
  docs/architecture/index.md
  docs/architecture/modules/ai.md
  docs/architecture/modules/config.md
  docs/architecture/modules/index.md
  docs/architecture/modules/interactive.md
  docs/architecture/modules/mcp.md
  docs/architecture/modules/models.md
  docs/architecture/modules/renderers.md
  docs/architecture/modules/templates.md
  docs/architecture/modules/utils.md
  docs/architecture/modules/validators.md
  docs/architecture/overview.md
  docs/guides/ai-enhancement.md
  docs/guides/api-overview.md
  docs/internal/CONSOLIDATION_REPORT.md
  docs/internal/ENHANCED_MCP_SUMMARY.md
  docs/internal/MCP_OPTIMIZATION_SUMMARY.md
  docs/internal/MCP_TESTING_DOCUMENTATION.md
  docs/internal/MCP_TESTING_SUMMARY.md
  docs/internal/PYDANTIC_DEPRECATION_FIXES.md
  docs/internal/TESTING_ORGANIZATION_SUMMARY.md
  docs/internal/index.md
  mkdocs.yml
Owners: @mermaid-render/docs-team, @mermaid-render/core-team

refactor: add graph diagram support and improve test infrastructure
  mermaid_render/validators/validator.py
  tests/conftest.py
  tests/integration/test_plugin_system_integration.py
  tests/unit/config/test_config_manager.py
  tests/unit/interactive/builder/codegen/test_class_diagram.py
  tests/unit/interactive/builder/codegen/test_flowchart.py
  tests/unit/interactive/builder/codegen/test_sequence.py
  tests/unit/interactive/builder/parsers/test_class_diagram.py
  tests/unit/interactive/builder/parsers/test_er_diagram.py
  tests/unit/interactive/builder/parsers/test_flowchart.py
  tests/unit/interactive/builder/parsers/test_sequence.py
  tests/unit/interactive/builder/parsers/test_state_diagram.py
  tests/unit/interactive/builder/test_connection_manager.py
  tests/unit/interactive/builder/test_diagram_builder.py
  tests/unit/interactive/builder/test_element_manager.py
  tests/unit/interactive/builder/test_event_manager.py
  tests/unit/interactive/builder/test_serialization.py
  tests/unit/interactive/models/test_elements.py
  tests/unit/interactive/routes/test_elements.py
  tests/unit/interactive/routes/test_preview.py
  tests/unit/interactive/routes/test_sessions.py
  tests/unit/interactive/server/test_page_routes.py
  tests/unit/interactive/server/test_router_registration.py
  tests/unit/interactive/server/test_websocket_endpoint.py
  tests/unit/interactive/test_builder.py
  tests/unit/interactive/test_export.py
  tests/unit/interactive/test_security.py
  tests/unit/interactive/test_templates.py
  tests/unit/interactive/test_ui_components.py
  tests/unit/interactive/test_utils.py
  tests/unit/interactive/websocket/test_broadcast_service.py
  tests/unit/interactive/websocket/test_message_dispatcher.py
  tests/unit/interactive/websocket/test_session_manager.py
  tests/unit/interactive/websocket/test_websocket_handler.py
  tests/unit/renderers/test_new_renderers.py
  tests/unit/test_core.py
  tests/unit/test_plugin_renderer.py
Owners: @mermaid-render/core-team, @mermaid-render/qa-team

feat: add undo/redo functionality, remote selection visualization, and chat panel to interactive builder
  README.md
  docs/architecture/overview.md
  docs/development/contributing.md
  docs/development/index.md
  docs/index.md
  docs/internal/CONSOLIDATION_REPORT.md
  docs/internal/ENHANCED_MCP_SUMMARY.md
  docs/internal/MCP_OPTIMIZATION_SUMMARY.md
  docs/internal/MCP_TESTING_DOCUMENTATION.md
  docs/internal/MCP_TESTING_SUMMARY.md
  docs/internal/PYDANTIC_DEPRECATION_FIXES.md
  docs/internal/TESTING_ORGANIZATION_SUMMARY.md
  docs/user-guide/export-formats.md
  docs/user-guide/themes.md
  mermaid_render/convenience.py
  mermaid_render/core.py
  mermaid_render/interactive/static/js/DiagramBuilder.js
  mermaid_render/interactive/static/js/WebSocketClient.js
  mermaid_render/templates/library.py
  mermaid_render/utils/export.py
  tests/conftest.py
  tests/integration/test_end_to_end.py
  tests/integration/test_end_to_end_workflows.py
  tests/integration/test_mcp_server_integration.py
  tests/regression/test_regression.py
  tests/unit/renderers/test_plugin_architecture.py
  tests/unit/renderers/test_renderers.py
  tests/unit/test_convenience.py
  tests/unit/test_core.py
Owners: @mermaid-render/core-team, @mermaid-render/docs-team, @mermaid-render/core-maintainers, @mermaid-render/interactive-team, @mermaid-render/qa-team

chore: remove outdated MCP documentation files
  docs/internal/CONSOLIDATION_REPORT.md
  docs/internal/ENHANCED_MCP_SUMMARY.md
  docs/internal/MCP_OPTIMIZATION_SUMMARY.md
  docs/internal/MCP_TESTING_DOCUMENTATION.md
  docs/internal/MCP_TESTING_SUMMARY.md
  docs/internal/PYDANTIC_DEPRECATION_FIXES.md
  docs/internal/TESTING_ORGANIZATION_SUMMARY.md
  docs/internal/index.md
Owners: @mermaid-render/docs-team
